{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ team.angler_1.angler.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ team.angler_1.angler.user.first_name }} {{ team.angler_1.angler.user.last_name }}</h2>
          <p class="text-secondary">{{ team.angler_1.angler.type }}</p>
          <p class="text-secondary">username: {{ team.angler_1.angler.user.username }}</p>
          <p class="text-secondary">phone number: {{ team.angler_1.angler.user.angler.phone_number }}</p>
          <p class="text-secondary">email address: {{ team.angler_1.angler.user.email }}</p>
        </div>
      </div>
      {% comment %} <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% endcomment %}
          {% comment %}
          Here we need to say:
            if created_by == CURRENT_USER:
                allow_edit
            else:
                display_only
          {% endcomment %}
              {% comment %} <legend class="border-bottom mb-4">Edit Angler Information</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">update</button>
          </div>
      </form> {% endcomment %}
    </div>
{% endblock content %}