{% extends "users/base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            Who We Are
        </div>
        <p class="article-content">
            South Austin Bass Club is a close group of fisherman who fish Central Texas lakes primarily within a 1-2 hour drive from Austin.

            Our goal is to have monthly tournaments that are friendly yet competative. We have a cumulative points system and offer annual awards for the following:
            <ul>
                <li>Top Six Anglers</li>
                <li>Angler of the Year</li>
                <li>Big Bass for the Year</li>
                <li>Largest Individual Stringer</li>
            </ul>
            <br />
            Club Information Highlights
            <br />
            <ul>
                <li>Annual membership dues are: $25 per year</li>
                <li>We meet once a month to vote on: Lake/Ramp/Time for the monthly tournament</li>
                <li>Tournament entry fees
                    <ul>
                        <li>$25 per angler (includes Big Bass) for Individual Boater/Non-Boater Tournaments</li>
                        <li>$50 per boat   (includes Big Bass) for Team Tournaments</li>
                    </ul>
                <li>Points are kept for individual performance, prize money paid to the team (unless otherwise stated)</li>
                <li>Payouts are based on number of boats</li>
            </ul>
            <br />For detailed information, please our see our <a href="{% url 'bylaws' %}">bylaws</a>
        </p>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            We Meet the First Monday of Every Month @ Beto's Restaurant and Bar
        </div>
        <p class="article-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55162.89051591091!2d-97.80883811651756!3d30.217660645674506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x865b4d689bbcf453%3A0x2f8e04d21141ac2d!2sBeto&#39;s%20Restaurant%20and%20Bar!5e0!3m2!1sen!2sus!4v1661190300517!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>
    </div>
</article>
{% endblock content %}