{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="media">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.user|crispy }}
                {{ form.angler|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">save</button>
                <a href="{% url 'profile' user.id %}" class="btn btn-outline-info" role="button">Back</a>
          </div>
        </form>
    </div>
</div
{% endblock content %}