{% extends "users/base.html" %}
{% block content %}
    {% for tournament in tournaments %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            {{ tournament.name }}
          </div>
          <h2><a class="article-title" href="{% url 'tournament-details' tournament.id %}">Lake: {{ tournament.lake | upper }}</a></h2>
          {% if tournament.lake != 'tbd' %}
            <a href="{{ tournament.facebook_url }}" target="_blank"><img src="static/fb_logo_26px_blk.png" /></a><br /><br />
          {% endif %}
          {{ tournament.ramp_url | default:'<img src="static/tbd.jpg" height="250">'| safe}}
          <p class="article-content">
            <table class="table">
              <tbody>
                <tr>
                  <td align="right">Date:</td><td align="left">{{ tournament.date }}</td>
                  <td align="right">Start time:</td><td align="left">{{ tournament.start }}</td>
                </tr>
                <tr>
                  <td align="right">Ramp:</td><td align="left">{{ tournament.ramp }}</td>
                  <td align="right">Weigh-in:</td><td align="left">{{ tournament.finish }}</td>
                </tr>
                <tr>
                  {% if tournament.type == 'team' %}
                    <td align="right">Type:</td><td align="left">{{ tournament.type | title }} - 5 fish per boat</td>
                    <td align="right">Entry Fee:</td><td align="left">${{ tournament.entry_fee }} per boat</td>
                  {% else %}
                    <td align="right">Type:</td><td align="left">{{ tournament.type | title }} - 10 fish per boat</td>
                    <td align="right">Entry Fee:</td><td align="left">${{ tournament.entry_fee }} per angler</td>
                  {% endif %}
                </tr>
              </tbody>
            </table>
            <br />{{ tournament.description | truncatechars:100 | linebreaks}}<br />
          </p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}