{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.angler.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h2>
          <p class="text-secondary">{{ user.profile.type }}</p>
          <p class="text-secondary">username: {{ user.username }}</p>
          <p class="text-secondary">phone number: {{ user.profile.phone_number }}</p>
          <p class="text-secondary">email address: {{ user.email }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% comment %} 
          Here we need to say:
            if created_by == CURRENT_USER:
                allow_edit
            else:
                display_only
          {% endcomment %}
              <legend class="border-bottom mb-4">Edit Angler Information</legend>
              {{ u_form|crispy }}
              {{ p_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">update</button>
          </div>
      </form>
    </div>
{% endblock content %}