{% extends "base.html" %}
{% block title %}Register - {% endblock %}
{% block body %}
<h2>Register</h2>
<form class="huh-form register-form">
    {% csrf_token %}
    <label>I am a:</label>
    <select id="user_type">
        <option value="property-manager">Property Manager</option>
        <option value="builder">Builder</option>
        <option value="realtor">Realtor</option>
    </select>
    <label>First name:</label>
    <input id="first_name" type="text" placeholder="first name">
    <label>Last name:</label>
    <input id="last_name" type="text" placeholder="last name">
    <label>E-mail:</label>
    <input id="username" type="text" placeholder="e-mail">
    <label>Phone number:</label>
    <input id="phone" type="text" placeholder="phone number">
    <label>Password:</label>
    <input id="password" type="password" placeholder="password">
</form>
<button id="register-submit">Register</button>
{% endblock %}
{% block script %}
<script>
    $("#register-submit").click(function() {
        if ($("#first_name").val() == "") {
            $("#first_name").focus();
        } else if ($("#last_name").val() == "") {
            $("#last_name").focus();
        } else if ($("#username").val() == "") {
            $("#username").focus();
        } else if ($("#phone").val() == "") {
            $("#phone").focus();
        } else if ($("#password").val() == "") {
            $("#password").focus();
        } else {
            $.ajax({
                url: "/register",
                type: "post",
                headers: { "X-CSRFToken": $("[name='csrfmiddlewaretoken']").val() },
                data: JSON.stringify({
                    user_type: $("#user_type").val(),
                    first_name: $("#first_name").val(),
                    last_name: $("#last_name").val(),
                    phone: $("#phone").val(),
                    username: $("#username").val(),
                    password: $("#password").val(),
                }),
                success: function(data) {
                    document.location.href = "/";
                }
            })
        }
    });
</script>
{% endblock %}