{% extends "base.html" %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            Who We Are
        </div>
        <p class="article-content">
            South Austin Bass Club is a close group of fisherman who fish Central Texas within a 1 to 1.5 hour drive from Austin, Tx.

            Our goal is to have monthly tournaments that are friendly yet competative. We have a points system that is cumulative for the year and offer annual awards for the following:
            <ul>
                <li>Top Six Anglers</li>
                <li>Angler of the Year</li>
                <li>Big Bass for the Year</li>
                <li>Largest Individual Stringer</li>
            </ul>
        </p>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            We Meet the First Monday of Every Month
        </div>
        <h7><a href="http://realdopebbq.com/">SLAB BBQ - Oak Hill</a></h7>
        <p class="article-content">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d6894.095532628314!2d-97.88104678776875!3d30.235714328168108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x865b497ca05f5d09%3A0xb42bd9f124ab0ed9!2sSLAB+BBQ+%26+Beer%2C+7101+W%2C+TX-71%2C+Austin%2C+TX+78735!3m2!1d30.2352603!2d-97.87842359999999!5e0!3m2!1sen!2sus!4v1549391861983" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </p>
    </div>
</article>
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            Where We Fish
        </div>
        <h7>Central Texas Area Lakes</h7>
        <p class="article-content">
            List of Lakes
            <ul>
                <li>Lake 1</li>
                <li>Lake 2</li>
                <li>Lake 3</li>
                <li>Lake 4</li>
                <li>Lake 5</li>
            </ul>
        </p>
    </div>
</article>
{% endblock content %}