{% extends "base.html" %}
{% block content %}
    {% for tournament in tournaments %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              {{ tournament.name }}
            </div>
            <h2>Lake: {{ tournament.lake | upper }}</h2>
            <p class="article-content">
              <table class="table">
                <tbody>
                  <tr>
                    <td align="right">Date:</td><td align="left">{{ tournament.date }}</td>
                    <td align="right">Start time:</td><td align="left">{{ tournament.start }}</td>
                  </tr>
                  <tr>
                    <td align="right">Ramp:</td><td align="left">{{ tournament.ramp }}</td>
                    <td align="right">Weigh-in:</td><td align="left">{{ tournament.finish }}</td>
                  </tr>
                </tbody>
              </table>
              {{ tournament.ramp_url | safe}}
            </p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}