{% extends "base.html" %}
{% from 'macros.html' import alert %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3>Password Reset Help</h3>
                <p class="lead">Having trouble resetting your password? Don't worry - we'll help you get back into your account!</p>

                <div class="row">
                    <div class="col-md-6">
                        <h5>📧 Didn't get the email?</h5>
                        <ul>
                            <li><strong>Check your spam folder</strong> - sometimes emails end up there</li>
                            <li><strong>Wait a few minutes</strong> - emails can take time to arrive</li>
                            <li><strong>Check the email address</strong> - make sure you entered it correctly</li>
                            <li><strong>Try again</strong> - you can request another reset link</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h5>🔒 Password Requirements</h5>
                        <ul>
                            <li>At least <strong>8 characters long</strong></li>
                            <li>Mix of <strong>letters and numbers</strong> is recommended</li>
                            <li>Avoid using your <strong>name or birthday</strong></li>
                            <li>Make it something you can <strong>remember</strong></li>
                        </ul>
                    </div>
                </div>

                <hr>

                <div class="alert alert-warning">
                    <h6>🚨 Still having trouble?</h6>
                    <p class="mb-2">If you're still unable to reset your password, contact one of the club administrators:</p>
                    <ul class="mb-0">
                        <li>Call or text a club officer</li>
                        <li>Ask for help at the next club meeting</li>
                        <li>Contact the club through Facebook</li>
                    </ul>
                </div>

                <div class="text-center">
                    <a href="/forgot-password" class="btn btn-primary me-2">Try Password Reset Again</a>
                    <a href="/login" class="btn btn-outline-secondary">Back to Login</a>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-body">
                <h6>💡 Helpful Tips for Club Members</h6>
                <div class="row text-small">
                    <div class="col-md-4">
                        <strong>Browser Issues:</strong><br>
                        Try using a different browser (Chrome, Firefox, Safari) or clear your browser's cookies.
                    </div>
                    <div class="col-md-4">
                        <strong>Mobile Users:</strong><br>
                        The website works on phones and tablets too! Just open it in your mobile browser.
                    </div>
                    <div class="col-md-4">
                        <strong>Remember Your Login:</strong><br>
                        Write down your username and password in a safe place for future reference.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}