{% extends "users/base.html" %}
{% block content %}
{% for poll in polls %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ poll.name }}</h5>
                <p class="card-text">{{ poll.description }}<br />
                <i>Poll ends: {{ poll.end_date }} @ {{ poll.end_time }}</i></p>
                <a href="{% url 'poll' poll.id %}" class="btn btn-primary">See Results</a>
            </div>
        </div>
        <br /><br />
{% endfor %}
{% endblock content %}