{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Poll</legend>
                <h3>Are you sure you want to delete this poll?</h3>
                <div class="alert alert-warning">
                    <strong>{{ object.name }}</strong>
                    <br>
                    <small class="text-muted">{{ object.description }}</small>
                    {% if object.lakevote_set.count > 0 %}
                        <br><br>
                        <i class="bi bi-exclamation-triangle"></i> 
                        <strong>Warning:</strong> This poll has {{ object.lakevote_set.count }} vote{{ object.lakevote_set.count|pluralize }} that will also be deleted.
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">
                    <i class="bi bi-trash"></i> Yes, Delete Poll
                </button>
                <a class="btn btn-outline-secondary" href="{% url 'polls' %}">
                    <i class="bi bi-arrow-left"></i> Cancel
                </a>
            </div>
        </form>
    </div>
{% endblock content %}